

// Básicos

$primary-color: #c5d7bd;
$secundary-color: #f2a154;
$font-weight:1px;

$font-size: 22px;

// Tamaño fuente

$font-XS: 5px;
$font-S: 10px;
$font-M:15px;
$font-L:20px;
$font-XL:25px;

// Tamaño botones

$button-XS: 10px;
$button-S:20px;
$button-M:30px;
$button-L:40px;
$button-XL:50px;
// $button-M {
//     border-radius: 10px;
//     margin-top: 15px;
//     margin-left: 15px;
//     background-color: #f2a154;
//     font-size: $font-L;
    
// }
